input[type='checkbox'] {
  display: none;

  + label {
    color: #ccc;

    transition: color .4s ease;

    position: relative;
    padding-left: 2em;
    cursor: pointer;

    text-decoration: line-through;

    &:before {
      box-sizing: content-box;
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      width: 1rem;
      height: 1rem;
      border: 1px solid #4f8196;
      text-align: center;
      transition: all .4s ease;
      font-size: 1rem;
      line-height: 1rem;
     }
  }

  &:checked + label {
    color: inherit;
    font-style: normal;

    text-decoration: none;


    &:before {
      background: #ddd;
      // content: '';
      content: '✔️️';
    }
  }
}