body#popup {

  font-size: 14px;
  min-width: 256px;
  min-height: 460px;

  /**
   * Header with name and dashboard button
   */
  header {
    a {
      font-size: 1.1rem;
      line-height: 1.2rem;
    }
  }

  /**
   * Tabs navigation
   */
  .nav-tabs {
    &.flex-row {
      .nav-item {
        flex-grow: 1;
        .nav-link {
          border: none;
          border-radius: 0;
          &.active {
            color: #fff;
            cursor: default;
            background-color: $blue;
          }
        }
      }
    }
  }

  /**
   * Tabs
   */
  #settings,
  #session {
    display: none;
    &:target {
      display: block;
    }
  }

  /**
   * Session tab
   */

   // Name and description input
  .input-group {
    font-size: 12px;
    line-height: 14px;

    span {
      font-size: inherit;
      line-height: inherit;
      background-color: $blue;
      color: white;
      min-width: 60px;
    }

    input {
      font-size: inherit;
      line-height: inherit;
      // background: transparent;
      // border-color: $blue;
      &::placeholder {
        color: #ccc;
      }
    }
  }

  // Start/Stop button
  #recorder {
    width: 100%;
  }

  /**
   * Settings
   */
  legend {
    font-size: 1rem;
  }
}
