#popup {
  font-size: 14px;
  min-width: 256px;
  min-height: 460px;

  header {
    a {
      font-size: 1.1rem;
      line-height: 1.2rem;
    }
  }

  #recorder {
    width: 100%;
  }

  legend {
    font-size: 1rem;
  }

  .input-group {
    font-size: 12px;
    line-height: 14px;

    span {
      font-size: inherit;
      line-height: inherit;
      background-color: $blue;
      color: white;
      min-width: 60px;
    }

    input {
      font-size: inherit;
      line-height: inherit;
      background: transparent;
      border-color: $blue;
      &::placeholder {
        color: #ccc;
      }
    }
  }

  #settings,
  #session {
    display: none;
    &:target {
      display: block;
    }
  }

}