body#session {

  display: flex;
  min-height: 100vh;
  flex-direction: column;

  // Container for aside and main
  .main {
    display: flex;
    flex: 1;
  }

  aside {
    flex: 0 0 16em;
    overflow-y: auto;
    overflow-x: hidden;
  }

  main {
    flex: 1;
    background-color: $grey;
    overflow: hidden;
    display: flex;

    // align-items: center;
    // justify-content: center;

    // Sites list
    #sites {

    }

    // Site details
    #site {

    }

    // iframe {
    //   flex: none;
    //   box-flex: 0;
    //   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    //   overflow: hidden;
    //   border: none;
    // }

    // .overlay {
    //   flex: none;
    //   box-flex: 0;
    //   overflow: hidden;
    //   position: absolute;
    // }
  }

  input {
    background-clip: initial;
  }


  /**
   * Sidebar
   */
  .sidebar {
    .nav-link {
      margin-bottom: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
    .nav-item-content {
      padding-top: 1rem;
    }
  }
}