{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": "last 1 Chrome versions"
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "emotion"
  ]
}