{
  "env": {
    "browser": true
  },
  "extends": "airbnb",
  "globals": {
    "chrome": true,
    "React": true
  },
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-indent": "disabled",
    "jsx-a11y/heading-has-content": "disable",
    "react/sort-comp": "disable"
  }
}
