html
  head
    title #{name} Session
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='styles.css', rel='stylesheet')

  body#session.page

    header.navbar-inverse.bg-inverse

      button#back.btn.btn-primary.btn-icon.mr-2
        img(src='chevron-left.svg', alt='Back')

      span.navbar-brand etave session interactions

      button#download.btn.btn-primary.btn-icon.float-right
        img(src='download.svg', alt='Download')

    main
      .container
        section#interactions.row
          ul.list-group.col-12.mt-4.mb-4(style='font-family: monospace;')

    #error-modal.modal(tabindex='-1', role='dialog')
      .modal-dialog
        .modal-content
          .modal-header.bg-danger
            h5.modal-title.text-white Error
          .modal-body
            p.lead The session could not be loaded.
          .modal-footer
            button.btn.btn-primary Quit

  script(src='utils.js')
  script(src='interactions.js')
