html
  head
    title #{name}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='styles.css', rel='stylesheet')

  body#options.page

    header.navbar-inverse.bg-inverse
      a.navbar-brand(href='#') etave Dashboard

    .main

      nav.bg-faded.sidebar
        ul.nav.nav-pills.flex-column
          li.nav-item
            a.nav-link.active(href='#dashboard') Dashboard
          li.nav-item
            a.nav-link(href='#sessions') Sessions
          li.nav-item
            a.nav-link(href='#settings') Settings
          li.nav-item
            a.nav-link(href='#about') About

      main.container

        section#dashboard.row
          header.col-12
            h1 Dashboard
            p.lead Welcome to the etave dashboard. You can manage here your recorded sessions and update the settings for the recordings.

        section#sessions.row
          header.col-12
            h3 Sessions
            p.lead List of recorded sessions.

          #sessions-list.table-responsive.col-12
            table.table.table-striped
              thead
                tr
                  th Details
                  th Times
                  th(colspan=2) Functions
              tbody

            button#sessions-loader.btn.btn-primary.float-right Load more sessions

        section#settings.row
          header.col-12
            h3 Settings
            p.lead Here you can adjust the settings for the recordings.

          fieldset.col-6.mb-4
            legend Mouse events
            p.form-text.text-muted The mouse events includes #[code mousedown], #[code mouseup], #[code click], #[code mousemove] and #[code mouseover] events.

            label
              input(type='checkbox' name='mousedown' data-setting='events')
              | Mousedown

            label
              input(type='checkbox' name='mouseup' data-setting='events')
              | Mouseup

            label
              input(type='checkbox' name='click' data-setting='events')
              | Click
              small &#9;#[code mousedown] and #[code mouseup] on the same element

            label
              input(type='checkbox' name='mousemove' data-setting='events')
              | Mousemove

            label
              input(type='checkbox' name='mouseover' data-setting='events')
              | Mouseover

          fieldset.col-6.mb-4
            legend Key events
            p.form-text.text-muted The key events includes #[code keydown] and #[code keyup] events.

            label
              input(type='checkbox' name='keydown' data-setting='events')
              | Keydown

            label
              input(type='checkbox' name='keyup' data-setting='events')
              | Keyup

          fieldset.col-6.mb-4
            legend  Scroll event
            p.form-text.text-muted The scroll events includes #[code scroll] events of any source (keyboard, scrollwheel, scrollbar) of the window.

            label
              input(type='checkbox' name='scroll' data-setting='events')
              | Scroll

          fieldset.col-6.mb-4
            legend  Change event
            p.form-text.text-muted The change events triggers when the users interacts with input elements like radio buttons, selections, checkboxes oder text inputs.

            label
              input(type='checkbox' name='change' data-setting='events')
              | Change

          fieldset.col-sm-6
            legend DOM events
            p.form-text.text-muted The dom events includes changes in the dom like adding/removing elements, changing attributes (classes, data) or changing nodes.

            label
              input(type='checkbox' name='dom' data-setting='events')
              | DOM

          fieldset.col-sm-12
            legend Throttling
            p.form-text.text-muted To prevent too much data beeing recorded, #[code mousemove] and #[code scroll] events are throttled by time and distance.

            label Distance in pixels (min: 5, step: 5)
            .input-group.mb-2
              input.form-control.text-right(type='number' name='distance' min=5 step=5 data-setting='throttle')
              span.input-group-addon px

            label Time in milliseconds (min: 5, step: 5)
            .input-group
              input.form-control.text-right(type='number' name='time' min=5 step=5 data-setting='throttle')
              span.input-group-addon ms

          .col-12.mt-2.mb-2
            .alert.alert-success.hidden(role='alert')
              strong Settings saved!
              |  The settings were successfully saved.

            .alert.alert-danger.hidden(role='alert')
              strong Error!
              |  The settings could not be saved.

          .col-12
            button#settings-save.btn.btn-primary.float-right Save settings

        section#about.row
          header.col-12
            h3 About
            p.lead About the event tracking and visualization extension

    script(src='utils.js')
    script(src='options.js')
