html
  head
    title #{name}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='etave dashboard')
    link(href="styles.css", rel="stylesheet")

  body#options

    nav.navbar.navbar-inverse.fixed-top.bg-inverse
      //- button.navbar-toggler.navbar-toggler-right.hidden-lg-up(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      a.navbar-brand(href='#') etave Dashboard

      button.btn.btn-primary.btn-icon.float-right
        img(src="update.svg", alt="update")
      //- #navbarsExampleDefault.collapse.navbar-collapse
      //-   ul.navbar-nav.mr-auto
      //-     li.nav-item.active
      //-       a.nav-link(href='#')
      //-         | Home
      //-         span.sr-only (current)
      //-     li.nav-item
      //-       a.nav-link(href='#') Settings
      //-     li.nav-item
      //-       a.nav-link(href='#') Profile
      //-     li.nav-item
      //-       a.nav-link(href='#') Help
      //-   form.form-inline.mt-2.mt-md-0
      //-     input.form-control.mr-sm-2(type='text', placeholder='Search')
      //-     button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

    .container-fluid

      .row
        nav.col-sm-3.col-md-2.hidden-xs-down.bg-faded.sidebar
          ul.nav.nav-pills.flex-column
            li.nav-item
              a.nav-link.active(href='#dashboard') Dashboard
            li.nav-item
              a.nav-link(href='#sessions') Sessions
            li.nav-item
              a.nav-link(href='#settings') Settings
            li.nav-item
              a.nav-link(href='#about') About

        main.col-sm-9.offset-sm-3.col-md-10.offset-md-2.pt-3

          section#dashboard
            header
              h1 Dashboard
              p.lead Welcome to the etave dashboard. Here you can manage your recorded sessions and update the settings for the recordings.

          section#sessions
            header
              h3 Sessions
            p.lead List of the three last sessions.

          section#sessions-list.table-responsive
            table.table.table-striped
              thead
                tr
                  th Name
                  th Description
                  th Date
                  th Duration
                  th Sites
                  th Download
              tbody

            button#sessions-loader.btn.btn-primary.float-right Load more sessions

          section#settings
            header
              h3 Settings
              p.lead Here you can adjust the settings for the recordings.

              h5 Mouse events
              p.form-text.text-muted The mouse events includes #[code mousedown], #[code mouseup] and #[code mousemove] events.

              input(type="checkbox" name="mouse")#mouse
              label(for="mouse" title="Mouseclicks and movement") Mouse
              br
              br

              h5 Scroll events
              p.form-text.text-muted The scroll events includes #[code scroll] events of any source (keyboard, scrollwheel, scrollbar).

              input(type="checkbox" name="scroll")#scroll
              label(for="scroll" title="Page scrolling") Scroll
              br
              br

              h5 Key events
              p.form-text.text-muted The key events includes #[code keydown] and #[code keyup] events.

              input(type="checkbox" name="key")#key
              label(for="key" title="Keyups") Keys
              br
              br

              h5 DOM events
              p.form-text.text-muted The dom events includes changes in the dom like adding/removing elements, changing attributes (classes, data) or chaning nodes.

              input(type="checkbox" name="dom")#key
              label(for="dom" title="DOM") DOM

          section#about
            header
              h3 About
              p.lead About the event tracking and visualization extension



    script(src='options.js')
