html
  head
    title #{name} Popup
    link(href='styles.css', rel='stylesheet')

  body#popup

    header.navbar.navbar-inverse.bg-inverse
      a.navbar-brand(href='#') etave
      button#dashboard.btn.btn-primary.btn-sm.float-right Dashboard

    nav.bg-faded
      ul.nav.nav-tabs.flex-row
        li.nav-item
          a.nav-link.active(href='#session') Session
        li.nav-item
          a.nav-link(href='#settings') Settings

    .container-fluid
      section.row
        #session.col-12.mt-2.mb-2

          h5 Session
          p.text-muted Insert a name/title and a description into the fields bleow and start recording a session

          .form-group
            label(for='#name') Session name
            input#name.form-control(type='text' name='name')

          .form-group.mt-2
            label(for='descr') Description
            input(type='text')#descr.form-control

          .form-group.form-check.mt-2
            small.form-text.text-muted For sites with dynamic content
            input(type='checkbox' name='screenshot')#screenshot
            label(for='screenshot' title='screenshot') Screenshot

          button#recorder.btn.btn-block.mt-2 Start recording

        #settings.col-12.mt-2.mb-2

          h5 Settings
          p.text-muted Select the events to be recorded

          .row

            fieldset.form-group.form-check.col-6
              legend Mouse events

              label
                input(type='checkbox' name='mousedown')
                | Mousedown

              label
                input(type='checkbox' name='mouseup')
                | Mouseup

              label
                input(type='checkbox' name='click')
                | Click

              label
                input(type='checkbox' name='mousemove')
                | Mousemove

              label
                input(type='checkbox' name='mouseover')
                | Mouseover

            fieldset.form-group.form-check.col-6
              legend Key events

              label
                input(type='checkbox' name='keydown')
                | Keydown

              label
                input(type='checkbox' name='keyup')
                | Keyup

              legend Scroll events

              label
                input(type='checkbox' name='scroll')
                | Scroll

              legend Form events

              label
                input(type='checkbox' name='change')
                | Change

            fieldset.form-group.form-check.col-6
              legend DOM events

              label
                input(type='checkbox' name='dom')
                | DOM

            .col-12
              button#save.btn.btn-primary.mt-2 Save settings

    script(src='utils.js')
    script(src='popup.js')
