html
  head
    title #{name} Popup
    link(href="styles.css", rel="stylesheet")

  body#popup

    header.navbar.navbar-inverse.bg-inverse
      a.navbar-brand(href='#') etave
      button#dashboard.btn.btn-primary.btn-sm.float-right Dashboard

    nav.bg-faded
      ul.nav.nav-tabs.flex-row
        li.nav-item
          a.nav-link.active(href='#session') Session
        li.nav-item
          a.nav-link(href='#settings') Settings

    .container-fluid
      section.row
        div#session.col-12.mt-2.mb-2

          h5 Session

          div.input-group
            span.input-group-addon Name
            input(type="text")#name.form-control

          div.input-group.mt-2
            span.input-group-addon Descr
            input(type="text")#descr.form-control

          button#recorder.btn.btn-block.mt-2

        div#settings.col-12.mt-2.mb-2

          h5 Settings

          input(type="checkbox" name="mouse")#mouse
          label(for="mouse" title="Mouseclicks and movement") Mouse
          br

          input(type="checkbox" name="scroll")#scroll
          label(for="scroll" title="Page scrolling") Scroll
          br

          input(type="checkbox" name="keys")#keys
          label(for="keys" title="Keyups") Keys
          br

          input(type="checkbox" name="dom")#dom
          label(for="dom" title="Document mutations") DOM
          br

          button#save.btn.btn-primary.mt-2 save settings

    script(src="popup.js")
