section#etave-browser
  .browser
    section.browser-nav
      svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 40 40')
        path(d='M28.3 18.3H15.7l3.8-3.8c.7-.6.7-1.7 0-2.3s-1.7-.7-2.3 0l-8 7.8 8 7.8c.3.4.7.5 1 .5s1 0 1.3-.5c.7-.6.7-1.7 0-2.3l-3.8-3.8h12.6c1 0 1.7-.8 1.7-1.7s-.8-1.7-1.7-1.7z', fill='#808080')

      svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 40 40')
        path(d='M22.2 12.2c-.7.6-.7 1.7 0 2.3l3.8 3.8H13.3c-1 0-1.6.8-1.6 1.7s.7 1.7 1.6 1.7H26l-3.8 3.8c-.7.6-.7 1.7 0 2.3.3.4.7.5 1 .5s1 0 1.3-.5l8-7.8-8-7.8c-.6-.7-1.7-.7-2.3 0z', fill='#808080')

      div.urlbar
        svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 40 40')
          path(d='M16.3 15L10 21.3l6.3 6.2 2.5-2.5-3.8-3.7 3.8-3.8-2.5-2.5zm5 2.5l3.7 3.8-3.7 3.7 2.5 2.5 6.2-6.2-6.2-6.3-2.5 2.5zm6.2-15H5v35h30V10l-7.5-7.5zm5 32.5h-25V5H25l7.5 7.5V35z', fill='#808080')
        input(value='/' disabled)
    section.browser-content
      div
        iframe

section#etave-player

  section.timeline
    input(type='text' name='name' value=0 readonly)
    //- progress(value=0)
    input(type='range' min=0 step=1)
    input(type='text' name='name' readonly)

  section.controls
    section
      input#heatmap.hidden(type='checkbox' name='heatmap' checked)
      label.btn.btn-icon(for='heatmap')
        include ../../extension/heatmap.svg

      input#path.hidden(type='checkbox' name='path' checked)
      label.btn.btn-icon(for='path')
        include ../../extension/path.svg

      input#scrollmap.hidden(type='checkbox' name='scrollmap' checked)
      label.btn.btn-icon(for='scrollmap')
        include ../../extension/scrollmap.svg

    section
      button#backward.btn.btn-icon(title='+2 seconds')
        include ../../extension/backward.svg

      button#replay.btn.btn-icon(title='restart')
        include ../../extension/replay.svg

      button#play.btn.btn-icon(title='play/pause') ►

      button#forward.btn.btn-icon(title='-2 seconds')
        include ../../extension/forward.svg

    section
      button.player-speed.btn.btn-circle(disabled data-speed=1) 1x
      button.player-speed.btn.btn-circle(data-speed=2) 2x
      button.player-speed.btn.btn-circle(data-speed=4) 4x

    section.fade
      label(title="Fade events out")
        input#fade(type='checkbox' name='fade')
        | Fade

      input#fadeValue(type='number' name='fadeValue' min=0 value=10 disabled)

  section.options

      label
        input.option(type='checkbox' name='mousedown' checked)
        | Mousedowns

      label
        input.option(type='checkbox' name='mouseup' checked)
        | Mouseups

      label
        input.option(type='checkbox' name='click' checked)
        | Clicks

      label
        input.option(type='checkbox' name='mousemove' checked)
        | Mousemoves

      label
        input.option(type='checkbox' name='scroll' checked)
        | Scroll

      label
        input.option(type='checkbox' name='keydown' checked)
        | Keys

      label
        input.option(type='checkbox' name='change' checked)
        | Change